@import "../../style/base.scss";

.ContactButton {
  .button {
    background-color: $primary;
    border-color: $primary;
    max-width: auto;
    min-width: 200px;
  }

  .button:hover {
    background-color: $grey;
    border-color: $borderColor;
  }

  .button:focus {
    border-color: $borderColor;
  }

  .button:focus:not(:active),
  .button.is-focused:not(:active) {
    box-shadow: none;
  }
}
