@charset "utf-8";

body, html {
    margin: 0;
    padding: 0;
}
$primary: #fefd00;
$secondary: #262626;
$white: #fff;
$black: #000;
$light: #a5a5a5;
$background: $secondary;
$font-family: Montserrat;

@import "~bulma/bulma.sass";
