@charset "utf-8";

body,
html {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
$primary: #fefd00;
$secondary: #262626;
$borderColor: #707070;
$grey: #d1cfcc;
$white: #fff;
$black: #000;
$light: #a5a5a5;
$background: $secondary;
$font-family: Montserrat;

@media only screen and (max-width: 1023px) {
  .container {
    margin: 0 24px;
  }
}

@import "~bulma/bulma.sass";
