.Jumbotron {
  video {
    position: absolute;
    // height: inherit;
  }

  .JumbotronText {
    position: relative;
    z-index: 1;
    background: none;
  }
}


@media only screen and (max-width: 768px) {
  .JumbotronTextPadding {
    padding: 30px;
  }
}